.resetClockWrapper {
	display: flex;
	justify-content: flex-end;
	color: var(--primary-color-dark);
	cursor: pointer;
	margin-right: 2rem;
	height: 100%;
	width: 100%;
	min-height: 1.5rem;
}

.resetBtn {
	margin-right: 0.5rem;
}

.errorDescription {
	color: #ff675a;
}
